<div class="grid-card">
    {% for category in card.categories %}
          <span class="tag-text">{{ category }}</span>
    {% endfor %}

    <div class="card-content">
        <div class="main-part">
            <div class="place-for-image"></div>
            <h4>{{ card.title }}</h4>
            <a href="{{ card.more_link }}">Дізнатися більше</a>
        </div>
        <a href="#" class="btn toggle-pop-up" data-service="{{ card.title }}">Записатись на консультацію</a>
    </div>

    <div class="card-content onhover-elements">
        <div class="main-part service-content">
            <h4>{{ card.title_hover }}</h4>
            {{ card.description }}
        </div>
        <a href="#" class="btn toggle-pop-up" data-service="{{ card.title }}">Подати заявку</a>
    </div>
</div>