<div id="contacts" class="contact-with-us container">
    <div class="our-links">
        <h3>{{ contacts.title }}</h3>
        <p>{{ contacts.text }}</p>

        <div class="contact-us">
            <div class="social-row">
                <div class="icon"><svg height="24" width="24"><use xlink:href="#call"></use></svg></div>
                <div class="text">
                    <span>Телефон</span>
                    <a href="#">{{ contacts.phone }}</a>
                </div>
            </div>

            <div class="social-row">
                  <div class="icon"><svg height="24" width="24"><use xlink:href="#sms"></use></svg></div>
                <div class="text">
                    <span>Пошта</span>
                    <a href="#">{{ contacts.email }}</a>
                </div>
            </div>

            <div class="social-row">
                  <div class="icon"><svg height="24" width="24"><use xlink:href="#location"></use></svg></div>
                <div class="text">
                    <span>Адреса</span>
                    <a href="#">{{ contacts.address }}</a>
                </div>
            </div>


        </div>

    </div>
    <div class="contact-form">
        <h3>Зворотній зв’язок</h3>

        <form action="" method="post">

            <div class="row">
                <input type="text" id="name" name="name" placeholder="Ім'я">
                <input type="email" id="email" name="email" required  placeholder="Email*">
            </div>

            <textarea id="message" name="message" rows="5"  placeholder="Повідомлення"></textarea>

            <div class="form-group">
                <input type="checkbox" id="policy" required>
                <label for="policy">Я згоден з правилами сайту та Політикою конфіденційності</label>
            </div>

            <button class="btn white" type="submit">Відправити</button>
        </form>


    </div>
</div>